.MovieDetailsContainer{
    display: flex;
    flex-direction: row;
    padding: 20px 30px ;
    border-bottom: 1px solid lightgray;
    justify-content: center;
}

.MovieDetailsImage{
    object-fit: cover;
    height: 352px;
    box-shadow: 0 3px 10px 0 #aaa ;
}

.MovieDetailsInfo{
    display: flex;
    flex-direction: column;
    margin:20px;
}

.MovieDetailsName{
    font-size: 30px;
    font-weight: 600;
     color: black;
     margin: 10px 0;
     white-space: nowrap;
     text-overflow: ellipsis;
     overflow: hidden;
}

.MovieSubDetails{
    font-size: 14px;
    font-weight: 400;
    color: black;
    margin: 4px 0;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: justify;
    text-transform: capitalize;
}
.closespan{
    font-size: 15px;
    font-weight: 500;
    color: black;
    background-color: lightgray;
    height: fit-content;
    padding: 8px;
    border-radius:50%;
    cursor: pointer;
    opacity: 0.8;
}

