.MoviesSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    gap: 35px;
    background-color: #303030;
}

.cardContainer{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 30px 24px;
}

@media only screen and (max-width: 430px) {
    .MoviesSection{
        padding: 25px;
        gap: 25px;
    }  
}
